body{
    background: black;
    margin: 0;
}
.outer-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.calc-out{
    width: 400px;
    height: 620px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    border-style: solid;
    border-color: hsl(62, 100%, 50%);
    padding-top: 20px;
    
}
.screen-display{
    width: 360px;
    height: 80px;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 18px;

}
#screen-inp{
    width: 360px;
    height: 80px;
    border-style: double;
    border-radius: 7px;
    border-color: darkslategrey;
    pointer-events: none;
    background-color: rgba(235, 220, 202, 0.83);
    font-size: xx-large;
    text-align: right;
    

}
.row1
{
    width: 340px;
    height: 70px;
    
    margin-top: 40px;
    margin-left: 36px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.row2
{
    width: 340px;
    height: 70px;
    
    margin-top: 140px;
    margin-left: 36px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.row3
{
    width: 340px;
    height: 70px;
    
    margin-top: 240px;
    margin-left: 36px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.row4
{
    width: 340px;
    height: 70px;
    
    margin-top: 340px;
    margin-left: 36px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.row5
{
    width: 340px;
    height: 70px;
    
    margin-top: 440px;
    margin-left: 36px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn{
    width: 70px;
    height: 70px;
    background-color: rgba(208, 196, 174, 0.455);
    margin-right: 16px;
    font-size: xx-large;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 20px;

    
}
.btne{
    width: 70px;
    height: 70px;
    background-color: rgba(224, 149, 20, 0.4);
    margin-right: 16px;
    font-size: xx-large;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 20px;
}
.btnequal
{
    width: 70px;
    height: 70px;
    background-color: rgba(26, 186, 146, 0.552);
    margin-left: 240px;
    font-size: xx-large;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 20px;
}

.btn:hover{
    cursor: pointer;
    background-color: rgba(208, 196, 174, 0.697);
}
.btne:hover{
    cursor: pointer;
    background-color: rgba(224, 149, 20, 0.558);
}
.btnequal:hover{
    cursor: pointer;
    background-color: rgba(26, 186, 146, 0.704);
}